:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #2196f3;
  --quaternary-text-color: #ffffff;
  --title-text-color: #757575;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --section-backgrond-color: #f5f4fa;
  --accent-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-button-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}

/*------------------------------------------------------------- HEADER----------------------------------------------------------- */
.header {
  background-color: var(--main-background-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
}
.header-nav .link.current {
  color: var(--tertiary-text-color);
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 93px;
}
.logo-word {
  color: var(--tertiary-text-color);
  font-family: raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.connect {
  margin-left: 305px;
}

.connect-list {
  display: flex;
  align-items: center;
}

.connect-item:not(:last-child) {
  margin-right: 30px;
}
.header-item {
  position: relative;
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.connect-icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
  justify-content: center;
}
.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--tertiary-text-color);
}
.header-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: -32px;
}
/* ---------------------------------------------------------------------HERO---------------------------------------------------- */
.hero {
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  color: var(--quaternary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.hero-button {
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
  background-color: var(--accent-button-color);
  color: var(--main-background-color);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/*----------------------------------------------------------FEATURES--------------------------------------------------*/
.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list {
  display: flex;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}
.thumb {
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.feature-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ---------------------------------------------------------------ABOUT----------------------------------------------------- */
.about {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-bottom: 94px;
}
.about-list {
  display: flex;
  margin-left: -30px;
}

.about-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  position: relative;
}
.about-thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.about-thumb-title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--quaternary-text-color);
}
.about-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
/*---------------------------------------------------------TEAM----------------------------------------------------*/
.team {
  background-color: var(--section-backgrond-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  margin-left: -30px;
}
.team-item {
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  width: 270px;
}
.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.team-job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-soc-item:last-child {
  margin-right: 0;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #2196f3;
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}
/* ---------------------------------------------------------------CLIENTS----------------------------------------------------- */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
  display: flex;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  fill: rgba(33, 150, 243, 1);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: rgba(33, 150, 243, 1);
}
/* ------------------------------------------------------------FOOTER------------------------------------------------------------------ */
.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-footer {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--quaternary-text-color);
}

.address-location {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--section-backgrond-color);
  margin-top: 20px;
  margin-bottom: 9px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mail-item {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text-color);
  margin-bottom: 9px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-tel-item {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text-color);
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-location:hover,
.address-location:focus,
.address-tel-item:hover,
.address-tel-item:focus,
.address-mail-item:hover,
.address-mail-item:focus {
  color: var(--accent-button-color);
}
/* --------------------------------------------------JOIN------------------------------------------------------- */
.second-footer {
  margin-left: 70px;
}
.join-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--quaternary-text-color);
  margin-bottom: 20px;
}
.join-soc-list {
  display: flex;
}

.join-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.join-soc-item:last-child {
  margin-right: 0;
}

.join-soc-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-soc-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-soc-link:hover,
.join-soc-link:focus {
  background-color: #2196f3;
}
.join-soc-link:hover .join-soc-icon,
.join-soc-link:focus .join-soc-icon {
  fill: #ffffff;
}

/*-------------------------------------------------------PORTFOLIO.HTML---------------------------------------------*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section-works-button {
  padding-right: 22px;
  padding-left: 22px;
  height: 38px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.section-works-button:hover,
.section-works-button:focus {
  background-color: var(--tertiary-text-color);
  color: var(--main-background-color);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}
.work-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.work-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-item:hover .work-overlow-text {
  transform: translateY(0);
}
.work-item-wrap {
  position: relative;
  overflow: hidden;
}
.work-overlow-text {
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  line-height: 1.56;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-description {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
}

.works {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-left: 24px;
}
.works-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  margin-top: 4px;
  margin-left: 24px;
}
/* ------------------------------------------------------MODAL-------------------------------------------------------- */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(49, 50, 61, 0.443);
  position: fixed;
  top: 0;
  transition: opacity 600ms, visibility 600ms;
}
.backdrop.is-hidden .modal {
  transform: translate(0), scale(0), rotate(180deg);
}
.modal {
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 300ms;
  padding: 40px;
}
.modal-close-button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
}
.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}
.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}
.modal-field {
  margin-bottom: 10px;
}
.modal-label {
}
.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.modal-input:focus + .modal-icons {
  fill: #2196f3;
}
.modal-icons {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-check:checked + .check-text::before {
  background-color: #2196f3;
  background-image: url(../images/modal-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.modal-check:focus + .check-text::before {
  color: var(--accent-button-color);
}
.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  display: flex;
}
.modal-span {
  text-decoration-line: underline;
  color: #2196f3;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
}
